.cards-image{
    height: 150px;
    width: 100px;
    display: flex;
    margin: 10px;
}

.spadesAceClass{
    display: flex;
}

.sixesFindClass{
    display: flex;
}

.colorRedClass{
    display: flex;
}

.cardSuitDiamondsClass{
    display: flex;
}

.cardSuitClubs9Class{
    display: flex;
}